<h1>Home#new</h1>
<p>Find me in app/views/home/new.html.erb</p>
<form action="home/create">
    <p>영화 제목</p><br>
    <input name= "title"type="text">
    <p>감독</p><br>
    <input name= "director"type="text">
    <p>평점</p><br>
    <input name= "rating" type="float">
    <p>이미지 주소</p><br>
    <input name= "img_address" type="text">
    <input type="submit">
</form>
